# Ignore node_modules folder
node_modules

# Ignore yarn lock file (if not needed)
yarn.lock

# Ignore npm debug log files
npm-debug.log

# Ignore Dockerfile itself (optional)
Dockerfile

.dockerignore
.env
.env.local

.git


.next